<h2>Angular</h2>
<h3>Kartikeya</h3>

<!-- Section -4 practice -->
<!-- <input [(ngModel)]="email" (keyup.enter)="onKeyUp()">
<button class="btn btn-primary" (click)="onSave($event)">Save</button>
<br>
<ul>
    <li>{{course.title | uppercase}}</li>
    <li>{{course.rating | number:'1.2-2' }}</li>
    <li>{{course.students | number}}</li>
    <li>{{course.price | currency: 'INR'}}</li>
    <li>{{course.releaseDate| date: 'shortDate'}}</li>
    <li>{{text | summary}}</li>
</ul> -->
<!-- End of section-4  -->
<app-favorite [is-favorite] = "post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>
<app-like [likesCount] = 'tweet.likesCount' [isActive]="tweet.isActive" (change)="onHeartClick()"></app-like>

<!-- Start of section-5   -->

<!-- end of section-5  -->